{% extends 'base.html' %}

{% block style %}
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

#img-div{
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
}

#image{
  display: block;
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}
{% endblock %}

{% block main %}

<div class="container ">
  <div class="card mx-auto" style="width:400px">
    <img class="card-img-top w-100" src="{{ url_for('static',filename='image.jpg') }}">
    <div class="card-body">
      <h4 class="card-title" id="name">{{session['name']}}</h4>
      <p id="cid" class="card-text"><i class="fa fa-address-book mr-1" aria-hidden="true"></i>{{session['c_id']}}</p>
      <p id="phone" class="card-text"><i class="fa fa-phone mr-1" aria-hidden="true"></i>{{profile['phone']}}</p>
      <p id="email" class="card-text"><i class="fa fa-envelope mr-1" aria-hidden="true"></i>{{session['email']}}</p>
      <p id="aadhar" class="card-text"><i class="fa fa-id-card mr-1" aria-hidden="true"></i>{{profile['aadhar_no']}}</p>
      <!--<a href="#" class="btn btn-primary" onclick="document.getElementById('id02').style.display='block'">Update</a>-->
    </div>
  </div>
</div>


<div id="id02" class="modal">

  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="{{ url_for('static',filename='image.jpg') }}" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="cname"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="cname">

	  <label for="phone"><b>Phone Number</b></label>
      <input type="tel" placeholder="Enter Phone Number" name="phone">

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email">

      <label for="opsw"><b> Old Password</b></label>
      <input type="password" placeholder="Enter Password" name="opsw" required>

      <label for="psw"><b> New Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" >

      <label for="cpsw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Password Again" name="cpsw">
      <button type="submit">Update</button>


    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
// Get the modal
var modal2 = document.getElementById('id02');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}
</script>
{% endblock %}
